header {
    background-color: beige;
    color: black;
    text-align: center;
    font-size:  60pt;
    font-family: Arial, Helvetica, sans-serif
}

main {
    background-color: brown;
    color: antiquewhite;
    text-align: center;
    font-size:  40pt;
    font-family: Arial, Helvetica, sans-serif

}

footer {
    background-color: antiquewhite;
    color: brown;
    text-align: center;
    font-size:  20pt;
    font-family: Arial, Helvetica, sans-serif
}